Django==1.5.8
PyYAML==3.11
South==1.0
argparse==1.2.1
bottle==0.12.7
dj-static==0.0.6
django-bootstrap-toolkit==2.15.0
django-mongodb-engine==0.5.1
djangotoolbox==1.6.2
gunicorn==19.1.1
numpy==1.8.1
pymongo==2.7.1
static3==0.5.1
stevedore==0.15
tweepy==2.3.0
virtualenv==1.11.6
virtualenv-clone==0.2.5
virtualenvwrapper==4.3.1
wsgiref==0.1.2
django-chart-tools==1.0
psycopg2==2.5.3
dj-database-url==0.3.0
django-easy-maps==0.9
geopy==1.1.2
